.card-container {
    background-color: rgb(132, 132, 132);
    width: calc(100%/3.3 - 10px);
    height: 400px;
    padding: 1.5rem;
    border-radius: 15px;
    border: 3px solid red;
    transition: scale 400ms;
    position: relative;
}

.fav-button {
    position: absolute;
    bottom: 50%;
    left: 20%;
    right: 20%;
    display: none;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.fav-button:hover {
    background-color: red;
}

.card-container:hover .fav-button {
    display: block;
}

.card-container:hover {
    scale: 1.05;
    background-color: linear-gradient(0,0,0,1), rgba(0,0,0,1);

}

.card-attributes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

.card-attributes-column {
    text-align: left;
    font-size: 15px;

}

.card-container-title {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    
}

.card-container-image-space {
    height: 70%;
}

.card-container-image {
    width: 100%;
}

@media screen and (max-width: 580px) {
    .card-container-title {
        font-size: 70%;
    }

    .card-container-image {
        width: 60%;
    }

    .card-container {
        width: 80%;
    }
}