.modal-container {
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    border-radius: 15px;
}

.modal-container-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.modal-container-left > button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

.modal-container-left > button:hover {
    background-color: rgb(209, 75, 75);
}

.modal-container-background-edit > label {
    font-weight: 600;
    display: block;
}

.modal-container-background-edit > select {
    width: 100%;
}

.modal-container-background-edit > select > option {
    background-color: aquamarine;
}

.modal-container-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.modal-container-right > button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

.modal-container-right > button:hover {
    background-color: rgb(209, 75, 75);
}

.hide {
    display: none;
}

@media screen and (max-width: 760px) {
    .modal-container {
        flex-direction: column-reverse;
        justify-content: space-around;
        gap: 0px;
    }
}