.perfil-edit {
    margin: 1rem 0 1rem 1rem;
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.perfil-edit:hover {
    background-color: rgb(209, 75, 75);
}

.direction {
    display: flex;
    flex-flow:  column nowrap;
    align-items: center;
    justify-content: center;
}